.cellRenderSelected {
  display: flex;
  flex-direction: column-reverse;
}

.historyItem {
  background-color: #03A8F4;
  min-height: 40px;
  min-width: 100px;
  border-radius: 5px;
  margin-bottom: 15px;
  padding-left: 10px;
}
