.cellRenderSelected {
  display: flex;
  flex-direction: column-reverse;
}

.historyItem {
  background-color: #03A8F4;
  min-height: 40px;
  min-width: 150px;
  border-radius: 5px;
  margin-bottom: 10px;
  padding-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gold;
  font-size: 24px;

}
