.cell {
  background-color: grey;
  //margin-right: -1px;
  //margin-left: 1px;
  border: none;
  cursor: pointer;
  outline: none;
  position: relative;
  &:hover {
    background-color: #03A8F4;
  }
}
